.ice-section{
    padding: 100px 0;
    @extend %font2Extend;
    color: #4d4d4d;

    .ice-image{
        padding: 0;
        img{
            width: 100%;
        }
        .dollar{
            bottom: 50px;
        }
        .ice-image-bottom{
            position: absolute;
            bottom: 50px;
            left: 20px;
            color: #fff;
            p{
                margin: 0;
                font-size: 0.9rem;
            }
            a{
                color: #fff;
                text-decoration: none;
                span{
                    margin-right: 10px;
                }
            }
            h2{
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                margin: 10px 0;
            }
        }
        
    }
    .ice-image:hover{
        .ice-span{
            right: 0;
        }
    }
    .hover-main:hover{
        span{
            right: 0;
        }
        h2{
            color: #0da1ff;
        }
    }

    
    .ice-left{
        margin-left: 45px;

        .left-images{
            padding: 0;
        }

        .ice-details{
            padding: 0 30px;
            p{
                margin: 0;
                font-size: 0.9rem;
            }
            h2{
                margin: 0;
                font-size: 1.5rem;
                font-weight: 600;
                margin: 8px 0;
                text-transform: uppercase;
                transition: all 700ms ease;
            }
            a{
                text-decoration: none;
                color: #0da1ff;
                display: block;
                margin-top: 10px;
                font-size: 0.9rem;
                font-weight: 600;
                transition: all 700ms ease;
                @extend %fontExtend;
                span{
                    margin-right: 5px;
                }
            }
            a:hover{
                color: #9a9a9a;
            }
        }
        .hover-main{
            margin-bottom: 40px;
        }

    }

    .ice-span{
        position: absolute;
        right: -5px;
        bottom: 10px;
        color: #fff;
        padding: 2px 15px;
        background-color: #0da1ff;
        font-weight: 600;
        transition: all 800ms ease;
    }
    
}
