.question-section{
    padding: 70px 0;
    background-image: url(../img/png/sunrise.png);
    background-color: #0da1ffdb;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
