

.main-category{
    margin: 0;
    padding: 0;
}
.sport-main{
    padding: 0;
    position: relative;
}
.sport-image{
    width: 100%;
}

.sport-icon{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0 0 0 / 74%);
    overflow: hidden;
    a{
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 1.2rem;
        text-decoration: none;
        display: block;
        margin-top: 40px;
        position: relative;
        top: -20px
    }
    img{
        transition: all 500ms ease 0s;
    }
}

.sport-icon:hover{
    background: none;
    img{
        transform: translatey(-200px);
    }
    a{
        transform: translatey(50px);
    }
}
