* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

.ice-section .ice-left .ice-details a, .sub-list h3, .subscription-heading h2, .wrapper-section, .nav-section {
  font-family: "Roboto Condensed", sans-serif;
}

.ice-section, .subscription P, .wrapper-section p {
  font-family: "Raleway", sans-serif;
}

.small-div {
  width: 50px;
  height: 2px;
  background-color: #fff;
}

li {
  list-style: none;
}

.nav-section {
  background-color: rgba(0, 0, 0, 0.7411764706);
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
}
.nav-section .navbar-brand img {
  width: 100%;
  display: block;
}
.nav-section .nav-items {
  margin-left: 10px;
}
.nav-section .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  transition: all 300ms ease;
}
.nav-section .nav-link:hover {
  color: #0da1ff;
}
.nav-section .fa-shopping-cart span {
  padding: 3px 5px;
  background-color: #0da1ff;
  position: absolute;
  top: 0;
}

.wrapper-section {
  padding-top: 74px;
}
.wrapper-section .wrapper-slider {
  min-height: 700px;
  width: 100%;
  background-image: url(../img/jpg/swim-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-section h2 {
  text-transform: uppercase;
}
.wrapper-section h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px 0;
}
.wrapper-section p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 30px;
}
.wrapper-section .wrapper-header {
  padding-top: 100px;
}
.wrapper-section .swimming .swimming-head {
  padding-top: 50px;
}
.wrapper-section .swimming h2 {
  background-color: #fff;
  letter-spacing: 10px;
  word-spacing: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 43px;
  display: inline-block;
}
.wrapper-section .swimming h1 {
  font-size: 6rem;
  line-height: 60px;
  letter-spacing: 1px;
  color: #0088de;
}
.wrapper-section .swimming h1 .the {
  color: #fff;
}
.wrapper-section .swimming h1 .adrenalin {
  font-size: 4.5rem;
  color: #000;
}
.wrapper-section .swimming h1 .small-div {
  background-color: #000;
  height: 5px;
  width: 50px;
  margin-top: 5px;
}
.wrapper-section .rugby {
  background-image: url(../img/jpg/rugby.jpg);
  background-repeat: no-repeat;
  min-height: 700px;
  color: #fff;
}
.wrapper-section .rugby .rugby-heading {
  padding-top: 160px;
}
.wrapper-section .rugby .rugby-heading h2 {
  font-size: 1.2rem;
  font-weight: 700;
}
.wrapper-section .rugby .rugby-heading h1 {
  line-height: 70px;
  font-size: 4.5rem;
}
.wrapper-section .rugby .rugby-heading span {
  font-weight: 600;
}
.wrapper-section .para-surf {
  background-image: url(../img/jpg/para-surf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  color: #000;
}
.wrapper-section .para-surf .para-surf-heading {
  padding-top: 100px;
}
.wrapper-section .para-surf .para-surf-heading h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}
.wrapper-section .para-surf .para-surf-heading h1 {
  line-height: 70px;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}
.wrapper-section .para-surf .para-surf-heading .small-div {
  background-color: #000;
  height: 5px;
  width: 60px;
  margin-bottom: 30px;
}
.wrapper-section .para-surf .para-surf-heading p {
  padding-right: 100px;
}
.wrapper-section .slick-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.wrapper-section .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(-50%);
  display: flex;
}
.wrapper-section .slick-dots li {
  margin-left: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  font-size: 0;
}

.main-category {
  margin: 0;
  padding: 0;
}

.sport-main {
  padding: 0;
  position: relative;
}

.sport-image {
  width: 100%;
}

.sport-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.74);
  overflow: hidden;
}
.sport-icon a {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  margin-top: 40px;
  position: relative;
  top: -20px;
}
.sport-icon img {
  transition: all 500ms ease 0s;
}

.sport-icon:hover {
  background: none;
}
.sport-icon:hover img {
  transform: translatey(-200px);
}
.sport-icon:hover a {
  transform: translatey(50px);
}

.subscription {
  padding: 80px 0;
}
.subscription-heading {
  width: 100%;
  background-image: url(../img/png/title-pattern.png);
  margin-bottom: 60px;
  color: #060606;
}
.subscription-heading h2 {
  background-color: #fff;
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 700;
  padding: 0 10px;
}
.subscription-heading h2 span {
  display: block;
  font-size: 1rem;
  font-weight: 100;
}

.sub-list {
  width: 31%;
  border: 2px solid #ebebeb;
  color: #4d4d4d;
  transition: all 500ms ease;
}
.sub-list h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 10px;
}
.sub-list P {
  font-weight: 400;
}
.sub-list img {
  width: 100%;
}

.sub-list:hover {
  border: 2px solid #000;
}
.sub-list:hover .days {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}
.sub-list:hover .sub-bottom {
  border-top: 2px solid #000;
}

.sub-middle {
  width: 100%;
  padding: 20px;
}

.sub-bottom {
  border-top: 2px solid #ebebeb;
  transition: all 500ms ease;
  margin: 0;
}
.sub-bottom p {
  font-size: 0.9rem;
  font-weight: 300;
}

.sub-last {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.sub-last p {
  margin: 0;
}
.sub-last p span {
  margin-right: 10px;
}

.days {
  border-left: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
  transition: all 500ms ease;
}

.bike-section {
  width: 100%;
  min-height: 600px;
  background-image: url(../img/jpg/bike_racing.jpg);
}

.rotate {
  width: 70%;
  min-height: 600px;
  background-color: rgba(13, 161, 255, 0.9019607843);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 15% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 15% 100%);
  margin-left: auto;
}

.bike-main {
  width: 60%;
  height: 600px;
  color: #fff;
  margin-left: 250px;
  padding: 100px 0;
}
.bike-main a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.bike-main .icon {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 700ms ease;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.bike-main .icon i {
  color: #000;
  transition: all 700ms ease;
}
.bike-main .bike-col {
  transition: all 700ms ease;
  padding: 0;
  margin-bottom: 40px;
}
.bike-main .bike-col:hover .icon {
  background-color: #4d4d4d;
}
.bike-main .bike-col:hover .icon i {
  color: #fff;
}
.bike-main .bike-head h2 {
  font-weight: 700;
  font-size: 1.8rem;
}
.bike-main .bike-para p {
  margin: 30px 0;
  font-size: 1.3rem;
  font-family: 300;
  padding-right: 100px;
}
.bike-main .bike-para p span {
  font-weight: 600;
}
.bike-main .bike-anchor {
  padding: 12px 30px;
  border: 2px solid #fff;
  margin-right: 20px;
  transition: all 400ms ease;
}
.bike-main .bike-anchor:hover {
  background-color: #fff;
  color: #000;
}

.ice-section {
  padding: 100px 0;
  color: #4d4d4d;
}
.ice-section .ice-image {
  padding: 0;
}
.ice-section .ice-image img {
  width: 100%;
}
.ice-section .ice-image .dollar {
  bottom: 50px;
}
.ice-section .ice-image .ice-image-bottom {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #fff;
}
.ice-section .ice-image .ice-image-bottom p {
  margin: 0;
  font-size: 0.9rem;
}
.ice-section .ice-image .ice-image-bottom a {
  color: #fff;
  text-decoration: none;
}
.ice-section .ice-image .ice-image-bottom a span {
  margin-right: 10px;
}
.ice-section .ice-image .ice-image-bottom h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}
.ice-section .ice-image .ice-image:hover h2 {
  color: #fff;
}
.ice-section .hover-main:hover span {
  right: 0;
}
.ice-section .hover-main:hover h2 {
  color: #0da1ff;
}
.ice-section .ice-left {
  margin-left: 45px;
}
.ice-section .ice-left .left-images {
  padding: 0;
  margin-bottom: 40px;
}
.ice-section .ice-left .ice-details {
  padding: 0 30px;
}
.ice-section .ice-left .ice-details p {
  margin: 0;
  font-size: 0.9rem;
}
.ice-section .ice-left .ice-details h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 8px 0;
  text-transform: uppercase;
  transition: all 700ms ease;
}
.ice-section .ice-left .ice-details a {
  text-decoration: none;
  color: #0da1ff;
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 700ms ease;
}
.ice-section .ice-left .ice-details a span {
  margin-right: 5px;
}
.ice-section .ice-left .ice-details a:hover {
  color: #9a9a9a;
}
.ice-section .ice-span {
  position: absolute;
  right: -5px;
  bottom: 10px;
  color: #fff;
  padding: 2px 15px;
  background-color: #0da1ff;
  font-weight: 600;
  transition: all 800ms ease;
}

.testominal {
  width: 100%;
  padding: 80px 0;
  background-image: url(../img/jpg/testimonial.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.testominal .slick-dots {
  margin-left: 45%;
  margin-top: 40px;
}
.testominal .slick-dots li {
  margin-right: 20px;
  border-radius: 50%;
  background-color: none;
  border: 2px solid #fff;
  font-size: 0;
  padding: 3px;
}

ul {
  display: flex;
}

.author-details {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.name {
  margin-left: auto;
  margin-right: 30px;
  padding-top: 40px;
  text-align: right;
}
.name p {
  margin: 0;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
}
.name a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.author {
  width: 19%;
  border: 5px solid #fff;
}
.author img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testominal-para {
  background-color: #fff;
  width: 100%;
  padding: 40px;
  position: relative;
}
.testominal-para p {
  color: #4d4d4d;
  line-height: 35px;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}
.testominal-para p::after {
  content: "";
  height: 80px;
  width: 80px;
  background-image: url(../img/png/quote.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 20px;
}
.testominal-para p::before {
  content: "";
  height: 30px;
  width: 40px;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 100% 100%, 100% 0);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25px;
  right: 120px;
}

.testominal-details {
  padding: 20px;
}

.gallery {
  padding: 100px 0;
}
.gallery .row {
  margin: 0;
}

.gallery-mav ul {
  justify-content: center;
}
.gallery-mav ul li {
  margin-right: 40px;
}

.gallery-tab {
  padding-left: 0;
}
.gallery-tab img {
  width: 100%;
  display: block;
}

.tab-content {
  margin-top: 60px;
}

.running-port {
  height: 394px;
  width: 461px;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-image {
  position: relative;
}

.image-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(13, 161, 255, 0.8588235294);
  position: absolute;
  top: 0;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-overlay .overlay-icons {
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-overlay .overlay-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
.image-overlay .overlay-heading {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 40px;
}
.image-overlay .overlay-heading a {
  text-decoration: none;
  color: #fff;
}
.image-overlay .overlay-heading .s-kid {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.middile-icon {
  margin: 0 10px;
}

.middle-image {
  margin-bottom: 10px;
  position: relative;
}

.right-image {
  margin-bottom: 10px;
  position: relative;
}

.port-middle-image {
  position: relative;
  padding: 0;
}

.question-section {
  padding: 70px 0;
  background-image: url(../img/png/sunrise.png);
  background-color: rgba(13, 161, 255, 0.8588235294);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.clients {
  padding: 100px 0 150px;
}

.contact {
  padding: 50px 0;
  background-color: #2D2D2D;
  color: #fff;
}
.contact a {
  text-decoration: none;
  display: block;
}
.contact h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.contact ul {
  flex-direction: column;
  margin-top: 30px;
}
.contact .contact-logo p {
  margin: 30px 0;
  line-height: 25px;
}
.contact .contact-icon {
  display: flex;
}
.contact .contact-icon .icons {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #3c3c3c;
}
.contact .contact-icon .icons a {
  color: #fff;
  font-size: 1.1rem;
}
.contact .useful a {
  color: #fff;
}
.contact li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(244, 244, 244, 0.1803921569);
}
.contact li a {
  color: #fff;
  font-size: 0.9rem;
}
.contact li a span {
  margin-right: 10px;
}
.contact .last-li {
  border: none;
}
.contact .latest .image-or-details {
  display: flex;
  margin-top: 30px;
}
.contact .latest .image-or-details a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 7px;
}
.contact .latest .image-or-details img {
  margin-right: 15px;
}
.contact .latest .image-or-details p {
  margin: 0;
}
.contact .about-whistle li {
  display: flex;
  justify-content: space-between;
}
.contact .about-whistle p {
  margin: 0;
}

.footer {
  padding: 10px 0;
}
.footer a {
  color: #4d4d4d;
  text-decoration: none;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .container p {
  margin: 0;
}
.footer .container ul {
  margin: 0;
}
.footer .container ul li {
  padding: 0 5px;
  border-right: 1px solid #e7e7e7;
}
.footer .container ul li a {
  display: block;
}
.footer .container p {
  font-size: 0.9rem;
}
.footer .container p span {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */